<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../estilo.css">
    <title>Catálogo de Libros</title>
</head>
<body>
    <header>
        <h1>Catálogo de Libros</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
       <center>
        <h2 class=>Libros Disponibles</h2>
       </center> 
        <div class="contenedor-libros">
            <div class="libro">
                <h3>Cien Años de Soledad - Gabriel García Márquez</h3>
                <img src="../sources/imagen1.jpg" alt="Portada de Cien Años de Soledad">
                <p>Una obra maestra de la literatura hispanoamericana que explora la historia de la familia Buendía en el mítico pueblo de Macondo.</p>
                <p><strong>Género:</strong> Realismo Mágico</p>
                <p><strong>Editorial:</strong> Sudamericana</p>
            </div>
            <div class="libro">
                <h3>1984 - George Orwell</h3>
                <img src="../sources/content.jpeg" alt="Portada de 1984" >
                <p>Una distopía impactante que explora temas de control, censura y vigilancia en un régimen totalitario.</p>
                <p><strong>Género:</strong> Ciencia Ficción, Política</p>
                <p><strong>Editorial:</strong> Secker & Warburg</p>
            </div>
        </div>
    </main>
    <footer>
    
        <div class="redes-sociales">
          <center><p>Siguenos en nuestras redes-sociales></p>
            <a href="https://www.instagram.com">
              <img src="../instagram_icon_264992.ico" alt="Instagram" width="30px">
            </a>
              <a href="https://www.facebook.com">
                <img src="../facebook_icon_264986.ico" alt="Facebook" width="30px">
              </a>
              <a href="https://www.twitter.com">
                <img src="../twitter_icon_264995.ico" alt="Twitter" width="30px">
              </a></center>
        </div>
      
      
    </footer>
</body>
</html>