<!DOCTYPE html>
<html>

<head>
  <title>Formulario contacto</title>
  <link rel="stylesheet" href="../estilo.css">

</head>

<body>
  <div id="headerContainer">
   
    <body>
      <div id="headerContainer">
        <header>
          <h1 class="header-texto">Library MBC</h1>
          <p class="header-subtexto">El papel en tus manos</p>
        </header>
      
        <nav>
          <ul>
            <li><a href="../index.html">Inicio</a> </li>        
            <li><a href="../views/catalogo.html">Catalogo</a> </li>
            <li><a href="../views/servicios.html">Servicios</a> </li>
            <li><a href="#">Contacto</a></li>
          </ul> 
        </nav>
      </div>

  <section>
    <center>
      <p>Unete a nosotros</p>

    <h2>Contactanos</h2>
     
    <form method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br><br>
        
        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" required>
        <br><br>
        
        <label for="asunto">Asunto:</label>
        <input type="text" id="asunto" name="asunto" required>
        <br><br>
        
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
        <br><br>
        
        <input type="submit" value="Enviar">
    </form>
 

      <div id="llamadas-horario">
      <p>También nos podeis encontrar por telefono al número +34 999888777
        <ul>Horario</ul>
        <ul>9:00 a 14:00</ul>
        <ul>17:00 a 20:00</ul>
      </p>
     </div>
    </center>
  </section>
<footer>
    
  <div class="redes-sociales">
    <center><p>Siguenos en nuestras redes-sociales></p>
      <a href="https://www.instagram.com">
        <img src="../instagram_icon_264992.ico" alt="Instagram" width="30px">
      </a>
        <a href="https://www.facebook.com">
          <img src="../facebook_icon_264986.ico" alt="Facebook" width="30px">
        </a>
        <a href="https://www.twitter.com">
          <img src="../twitter_icon_264995.ico" alt="Twitter" width="30px">
        </a></center>
  </div>


</footer>

</body>

</html>