<!DOCTYPE html>
<html>

<head>
  <title>Library MBC</title>
  <link rel="stylesheet" href="../estilo.css">

</head>

<body>
  <div id="headerContainer">
    <header>
      <h1 class="header-texto">Library MBC</h1>
      <p class="header-subtexto">El papel en tus manos</p>
    </header>
  
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a> </li>        
        <li><a href="../views/catalogo.html">Catalogo</a> </li>
        <li><a href="#">Servicios</a> </li>
        <li><a href="../views/contacto.html">Contacto</a></li>
      </ul> 
    </nav>
  </div>
  

  
  
    <main>
    <center><h1>Nuestros servicios</h1></center>
    <div class="contenedorservicio">

    <div class="servicio">
        <h4>Préstamo de libros</h4>
        <img src="../sources/prestamo libro.png" alt="prestamo">
        <p>Tenemos una amplia gama de libros la cual puede usar haciendose socio de nuestra tienda, los libros deben devolverse en el plazo de 15 dias habiles.</p>
    </div>

    <div class="servicio"> 
        <h4>Consulta</h4>
        <img src="../sources/fotoconsulta.png" alt="Consulta">
        <p>Consulta libros de referencia y material exclusivo en nuestras cómodas salas de lectura. Ambiente ideal para el estudio y la investigación.</p>   
    </div>
    <div class="servicio">
    <h4>Asistencía bibliográfica</h4>
        <img src="../sources/fotoasistencia.png" alt="ayudamos">
        <p>Buscamos los los libros que necesites y te ayudamos en tus dudas según tus gustos y necesites</p>
    </div>
    </div>
      

      
    
    </main>

  <footer>
    
    <div class="redes-sociales">
      <center><p>Siguenos en nuestras redes-sociales></p>
        <a href="https://www.instagram.com">
          <img src="../instagram_icon_264992.ico" alt="Instagram" width="30px">
        </a>
          <a href="https://www.facebook.com">
            <img src="../facebook_icon_264986.ico" alt="Facebook" width="30px">
          </a>
          <a href="https://www.twitter.com">
            <img src="../twitter_icon_264995.ico" alt="Twitter" width="30px">
          </a></center>
    </div>
  
  </footer>

</body>

</html>